.container
{
    width: 922px;
    color: #002775;
    padding-top: 50px;
    margin-right: 0;
}
.left-side
{
    display: inline-block;
    width: 205px;
    padding-bottom: 50px;
    padding-left: 50px;
}
.right-side
{
    display: inline-block;
    left: 256px;
    width: 560px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: top;
}
.right-side p
{
    margin: 0;
} 
.left-side .profile
{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.profile .image
{
    width: 140px;
    border-radius: 50%;
}
.profile .name
{
    text-align: center;
    font-size: 27px;
    
}
.profile .role
{
    font-size: 18px;
    padding-bottom: 25px;
}
.profile-container .profile-info
{
    padding-bottom: 0px;
    font-size: 11px;
}
i
{
    padding-right: 16px;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    display: inline-block;
    color: #7784ac;
}
button
{
    background-color: #377cfe;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 27px;
    padding-right: 27px;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    font-weight: bold;
    color: white;
    font-size: 10px;
}
.workexperience button
{
    margin-top: 0px;
}
.summary .heading
{
    padding-left: px;
}
.heading
{
    font-size: 23px;
    font-weight: bold;
    margin-top: 0;
    padding-top: 6px;
}
.workexperience .heading p
{
    margin-bottom: 0;
    font-size: 33px;
}
.workexperience
{
    width: 100%;
}
.workexperience .heading
{
    padding-top: 40px;
    padding-bottom: 8px;
  
}
.workexperience .heading p
{
    margin-bottom: 0;
}
.workexperience i
{
    padding-right: 2px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;
}
.education-content
{
    width: 540px;
}
.education .heading
{
    font-size: 35px;
    padding-top: 50px;
}
.left-experience
{
    width: 340px;
    padding-top: 16px;
    padding-bottom: 18px;
    display: inline-block;
}
.right-experience
{
    width: 189px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.left-education
{
    width: 340px;
    padding-top: 14px;
    padding-bottom: 10px;
    display: inline-block;
}
.right-education
{
    width: 189px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 10px;
}
.education i
{
    padding-right: 2px;
}
.designation
{
    font-size: 17px;
}
.designation p
{
    margin-bottom: 0;
}
.period {
    padding-bottom: 10px;
    font-size: 10px;
    color: #7784ac;
}
.right-education .period {
    padding-top: 30px;
    font-size: 9px;
    color: #7784ac;
}
.company-container
{
    width: 340px;
}
.work-content
{
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}
.company
{
    width: 100px;
    color: #7784ac;
    font-size: 12px;
    vertical-align: top;
    display: inline-block;
}
.location
{
    width: 220px;
    color: #7784ac;
    font-size: 12px;
    vertical-align: top;
    display: inline-block;
}
.work-time
{
    padding-bottom: 10px;
}
.work-time button
{
    text-align: center;
    color: #002775;
    background-color: #d7ffe0;
    border-radius: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: bold;
}
.content
{
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 9px;
    padding-top: 9px;
}
.degree
{
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 10px;
}  
.degree p
{
    margin-bottom: 0;
}
.college
{
    font-size: 12px;
    color: #7784ac;
}
hr
{
    margin-top: 10;
    margin-bottom: 0;
    opacity: 15%;
}
.icon-spacing {
    display: inline-block;
}