*
{
    margin: 0;
    border: 0;
}
body
{
    width: 100%;
}
.left
{
    width: 22%;
    display: inline-block;
    background: #ffffff;
    height: 520px;
}
.right
{
    width:77.5%;
    display: inline-block;
    background: #faf9f8;
    height: 520px;
    vertical-align: top;
}
.top
{
    height: 10%;
    background: #2564cf;
    width: 100%;
}
.app-luncher
{
    display: inline-block;
    color: aliceblue;
    width: 1%;
    padding-top: 1.2%;
    padding-left: 1%;
    padding-right:1.3%;
    padding-bottom:1% ;
}
.app-luncher:hover
{
    background-color:#004578;
}
.name
{
    display: inline-block;
    font-size: 16px;
    margin-left: 1%;
    color: aliceblue;
    padding-right: 12%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font:bold;
}
.set-icon
{
    display: inline-block;
    font-size: 30px;
    color: aliceblue;
}
.search-block
{
    display: inline-block;
    width: 20%;
    margin-left: 10%;
    margin-right: 10.01%;
    background-color: aliceblue;
    border-radius: 5px; 
    padding-right: 9.5%;
    padding-left: 0px;
    margin-right: 10%;
}
.search
{
    font-size: 25px;
    margin-bottom: 0.1%;
    margin-right: 20%;
    width: 100%;
    background-color: aliceblue;
}

.search-block i
{
    font-size: 0.7em;
    color: #004578;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.search .input
{
    font-size: 0.6em;
    width: 80%;
    border: none;
    outline: none;
    padding-left: 1%;
    align-items: center;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.setting
{
    display: inline-block;
    margin-left: 140px;
    font-size: 1.2em;
    color: aliceblue;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.setting:hover
{
    background-color:#004578;
}
.question-tag
{
    display: inline-block;
    font-size: 1.2em;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.question-tag:hover
{
    background-color:#004578;
}
.question-tag .icon
{
    padding-left: 20px;
    padding-right: 20px;
}
.announce
{
    display: inline-block;
    font-size: 1.2em;
    color: aliceblue;

}
.announce:hover
{
    background-color:#004578;
}
.announce .icon
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 14px;
    padding-bottom: 10px;
}
.profile
{
    display: inline-block;
    font-size: 1.2em;
    color: aliceblue;
}
.profile .icon:hover
{
    background-color:#004578;
}
.profile .icon
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top:14px;
    padding-bottom: 10px;
}
hr
{
    width: 170px;
    margin-left: 15px;
    margin-top: 15px;
    padding-right: 70px;
    border-top: 1px solid black;
}
.menu
{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 20px;
}
.icon
{
    display: inline-block;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 15px;
}

.left-content
{
    display: inline-block;
    font-size: 14px;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#options .left-menu:hover
{
    background-color: #faf9f8;
}
.list
{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

.list ul {
    overflow: hidden;
}

.list .add
{
    display: inline-block;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list .icon:hover
{
    background-color: #faf9f8;
}
.list .icon
{
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}
.list :focus
{
    outline: none;
}
.list :hover
{
    background-color: #faf9f8;
}
.list .add-icon
{
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.list .add-icon:hover
{
    background-color: #faf9f8;
}
#mylists
{
    list-style: none;
}
.list i
{
    padding-right: 10px;
    padding-bottom: 10px;
}
.empty
{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 125px; 
}
.tools
{
    padding-top: 0px;
    padding-left:0px;
}
.tools .mail
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 16px;
    padding-top:10px;
    padding-bottom: 10px;
}
.tools .mail:hover
{
    background-color:#faf9f8;
}
.tools .calc
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 16px;
    padding-top:10px;
    padding-bottom: 10px;
}
.tools .calc:hover
{
    background-color: #faf9f8;
}
.tools .pep
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 16px;
    padding-top:10px;
    padding-bottom: 10px;
}
.tools .pep:hover
{
    background-color: #faf9f8;
}
.tools .file
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 16px;
    padding-top:10px;
    padding-bottom: 10px;
}
.tools .file:hover
{
    background-color:#faf9f8;
}
.tools .logo
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 16px;
    padding-top:10px;
    padding-bottom: 10px;
    color: #4982dc;
}
.tools .logo:hover
{
    background-color: #faf9f8;
}
.use .day
{
    margin-left: 20px;
}
.use .day .content
{
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 600px;
}
.use .day .content .icon
{
    display: inline-block;
    padding-left: 0px;
}
.use .date
{
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.use .day .sort
{
    display: inline-block;
}
.use .day .text
{
    display: inline-block;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 10px;
    padding-left: 7px;
}
.use .day .suggest
{
    display: inline-block;
}
.property
{
    width: 95%;
    margin-left: 3%;
    background-color: #faf9f8;
    padding: 1%;
}
.property .calender
{
    display: inline-block;
    margin-right: 2%;
}
.property .notification
{
    display: inline-block;
    margin-right: 2%;
}
.property .restart
{
    display: inline-block;
    margin-right: 2%;
}
.use .add-task
{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px; 
    margin-left: 20px;
    margin-right: 20px;
    outline: black;
}
.add-task .circle
{
    display: inline-block;
    padding:1%;
    margin-left: 1%;

}
.new-task 
{
   font-size: 1em;
   display: inline-block;
   padding: 20px;
   width: 89%;
   outline-style: none;
}
.new-task #task
{
    width: 100%;
    height: 3%;
    outline: none;
}

#Todo-task .list-of-tasks i:last-child
{
    display: inline-block;
}
.check-box
{
    font-size: 1em;
    padding-left: 4%;
    width: 1.5%;
    display: inline-block;
}
.important-box
{
    display: inline-block;
    padding-left: 2%;
}
.new-list
{
    display: inline-block;
    width: 80%;
    padding-left: 2%;

}

.new-task-added{
    margin-bottom: 1%;
    background-color: orange;
    padding: 2%;
    overflow-y: auto;
    border-radius: 10%;
    margin-left: 20px;
    margin-right: 20px;

}
.list-block .icon
{
    display: inline-block;
}
.list-block .content 
{
    display: inline-block;
    margin-left: 6%;
}